<div class="form-floating" [formGroup]="newComment" (ngSubmit)="onSubmit()">
  <textarea
    formControlName="text"
    class="form-control"
    placeholder="Comments"
    id="floatingTextarea"
  ></textarea>
  <div class="form-floating">
    <select
      formControlName="creator"
      class="form-select"
      id="floatingSelect"
      aria-label="Floating label select example"
    >
      <option selected>Select creator</option>
      <option *ngFor="let user of users">{{ user.username }}</option>
    </select>
    <label for="floatingSelect">Creator</label>
  </div>
  <label for="floatingTextarea">Comment</label>
  <button
    style="margin: 20px"
    type="submit"
    class="btn btn-success btn-sm position-relative"
  >
    Share comment
  </button>
</div>
