<div class="form-floating mb-3">
  <input
    type="email"
    class="form-control"
    id="floatingInput"
    placeholder="Email"
  />
  <label for="floatingInput">Email</label>
</div>
<div class="form-floating">
  <input
    type="password"
    class="form-control"
    id="floatingPassword"
    placeholder="Password"
  />
  <label for="floatingPassword">Password</label>
</div>
<div class="col-auto">
  <button
    style="--bs-btn-line-height: 2"
    type="submit"
    class="btn btn-primary btn-lg"
  >
    Login
  </button>
</div>
